<div class="main-heading">
  <h1>Welcome to Angular-Scaffold
    <span>Hit the ground and start rolling.</span>
  </h1>
</div>

<div class="row center-xs">
  <a routerLink="/"><img src="assets/images/logo.svg" class="banner"  alt="profile picture"></a>
</div>

<div class="row steps-container">
  <app-heading heading="Start simple, in 4 easy steps."></app-heading>

  <div class="row">
    <div class="col-md-3 full-width">
      <div class="step">
        <p class="step-heading">1</p>
        <p class="step-detail">One.</p>
      </div>
    </div>

    <div class="col-md-3 full-width">
      <div class="step">
        <p class="step-heading">2</p>
        <p class="step-detail">Two.</p>
      </div>
    </div>

    <div class="col-md-3 full-width">
      <div class="step">
        <p class="step-heading">3</p>
        <p class="step-detail">Three.</p>
      </div>
    </div>

    <div class="col-md-3 full-width">
      <div class="step">
        <p class="step-heading">4</p>
        <p class="step-detail">Four.</p>
      </div>
    </div>
  </div>
</div>

<div class=" col-md-12 floating-banner">
  <h2> Floating banner</h2>
  <button mat-raised-button color="blue" [routerLink]="['/new']"><i class="fa-plus fas"></i> Add</button>
</div>
